@import '../../App.scss';
.CityInfo {
    margin-bottom: 50px;
    .CityInfo__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .CityInfo__city {
            font-size: 24px;
        }
        .CityInfo__weather {
            font-size: 48px;
        }
        .CityInfo__description {

        }
        .CityInfo__temp-group {
            .CityInfo__temp-item {

            }
        }
    }
}