@import '../../../index.css';
.MWVisibility {

    .MWVisibility__header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        .MWVisibility__icon-wrapper {
            margin-right: 4px;
            .icon {

            }
        }
        .MWVisibility__title {
            font-size: 16px;
        }
    }

    .Swiper__days {
        width: 100%;
        margin-bottom: 4px;
        .Swiper__day-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .Swiper__day-week {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 2px;
            }
            .Swiper__day-number {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 3px;
            }
            .active {
                background-color: var(--color-light-indigo);
                color: var(--color-black);
                border-radius: 10000%;
            }
        }
    }

    .MWVisibility__full-data {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        padding-bottom: 4px;
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }
    
    .MWVisibility__chart {
        margin-bottom: 10px;
        .MWVisibility__swiper-chart {
            .MWVisibility__swiper-slide-chart {
                .MWVisibility__responsive-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid rgba(255,255,255,0.1);
                    border-radius: var(--border-radius-small);
                    padding: 5px 0 5px 0;
                }
            }
        }
    }

    .MWVisibility__daily-summary {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin-bottom: 20px;
        .MWVisibility__daily-summary-title {
            font-size: 16px;
            margin-bottom: 8px;
        }
        .MWVisibility__daily-summary-descr {
            color: var(--color-white);
            background-color: var(--color-dark-gray);
            padding: 10px;
            border-radius: var(--border-radius-small);
        }
    }

    .MWVisibility__humidity-descr {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin-bottom: 20px;
        .MWVisibility__descr-title {
            font-size: 16px;
            margin-bottom: 8px;
        }
        .MWVisibility__descr-text {
            color: var(--color-white);
            background-color: var(--color-dark-gray);
            padding: 10px;
            border-radius: var(--border-radius-small);
        }
    }

    .MWVisibility__dew-point-descr {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        .MWVisibility__descr-title {
            font-size: 16px;
            margin-bottom: 8px;
        }
        .MWVisibility__descr-text {
            color: var(--color-white);
            background-color: var(--color-dark-gray);
            padding: 10px;
            border-radius: var(--border-radius-small);
        }
    }

}