@import '../../App.scss';
.Navbar {
    width: 100%;
    .Navbar__container {
        display: flex;
        justify-content: space-between;
        .Navbar__icon-wrapper {
            
           .Navbar__icon {

           } 
        }
    }
}