@import '../../App.scss';
.Navbar {
    width: 100%;
    background: var(--background-clear-day);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255,255,255,0.7);
    .Navbar__wrapper {
        width: 100%;
        padding: 0 16px;
        .Navbar__container {
            height: 100%;
            padding: 8px 0 24px;
            .Navbar__content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .Navbar__link {
                    color: var(--color-white);
                    .Navbar__icon-wrapper {
                        width: 24px;
                        height: 24px;
                       .Navbar__icon {
            
                       } 
                    }
                }
            }
        }
    }
}