.DailyForecastCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    .DailyForecastCard__day-week {

    }
    .DailyForecastCard__icon {

    }
    .DailyForecastCard__temp-min {

    }
    .DailyForecastCard__temp-max {

    }
}