.HourlyForecastCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 1px solid black;
    .HourlyForecastCard__time {

    }
    .HourlyForecastCard__icon {

    }
    .HourlyForecastCard__temperature {

    }
}