@import '../../index.css';
.ReportProblem {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-gap: 10px;
    .ReportProblem__icon-wrapper {
        width: 24px;
        height: 24px;
        .ReportProblem__icon {

        }
    }
    .ReportProblem__content {
        .ReportProblem__title {
            margin-bottom: 2px;
        }
        .ReportProblem__descr {
            font-size: 14px;
            color: rgba(255,255,255, 0.4);
        }
    }
}