@import '../../index.css';
.Wind {
    .Wind__container {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .Wind__header {
        display: flex;
        justify-content: start;
        align-items: center;
        .Wind__icon-wrapper {

        }
        .Wind__name {
            font-size: 14px;
            text-transform: uppercase;
        }
    }

    .Wind__compass {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}